<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-layout.html}">


<head>
  <meta charset="UTF-8">
  <title>Title</title>

</head>
<body>
<div layout:fragment="content">

  <h4>Quản lý nhãn hàng</h4>
  <a href="/admin/brand-create" class="btn btn-success m-3"><i class="fa fa-plus-square"></i> <span>Thêm nhãn hàng</span></a>
  <table class="table m-3">
    <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Code
        <a th:href="@{/admin/brand-all(page=0, sort='id,asc')}" class="sort-link">↑</a>
        <a th:href="@{/admin/brand-all(page=0, sort='id,desc')}" class="sort-link">↓</a>
      </th>
      <th scope="col">Tên nhãng hàng</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="items:${items}">
      <th scope="row" th:text="${items.id}">1</th>
      <td th:text="${items.code}">Mark</td>
      <td th:text="${items.name}"></td>
      <td>
        <a th:href="@{'/admin/brand-delete/'+${items.id}}"><i class="fa fa-trash-o"></i></a>
        <a th:href="@{'/admin/brand-detail/'+${items.id}}"><i class="fa ti-pencil-alt"></i></a>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="clearfix">
    <ul class="pagination">
      <li th:if="${items.hasPrevious()}" class="page-item">
        <a th:href="@{/admin/brand-all(page=0, sort=${sortField + ',' + (sortDirection == 'asc' ? 'desc' : 'asc')})}"
           class="page-link">First</a>
      </li>
      <li th:if="${items.hasPrevious()}" class="page-item">
        <a th:href="@{/admin/brand-all(page=${items.number - 1}, sort=${sortField + ',' + (sortDirection == 'asc' ? 'desc' : 'asc')})}"
           class="page-link">Previous</a>
      </li>
      <li th:if="${items.hasNext()}" class="page-item">
        <a th:href="@{/admin/brand-all(page=${items.number + 1}, sort=${sortField + ',' + (sortDirection == 'asc' ? 'desc' : 'asc')})}"
           class="page-link">Next</a>
      </li>
      <li th:if="${items.hasNext()}" class="page-item">
        <a th:href="@{/admin/brand-all(page=${items.totalPages - 1}, sort=${sortField + ',' + (sortDirection == 'asc' ? 'desc' : 'asc')})}"
           class="page-link">Last</a>
      </li>
    </ul>
  </div>

</div>
</body>
</html>