<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="page_head(title)">
    <meta charset="UTF-8">
    <title>[[${title}]]</title>
    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <link rel="stylesheet" th:href="@{/admin/vendors/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/admin/vendors/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/admin/vendors/themify-icons/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/admin/vendors/flag-icon-css/css/flag-icon.min.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" th:href="@{/admin/assets/css/style.css}">
    <script th:src="@{/js/sweetalert.min.js}"></script>

</head>
<body>

    <th:block th:fragment="script">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script th:inline="javascript" th:src="@{/admin/vendors/popper.js/dist/umd/popper.min.js}"></script>
        <script th:inline="javascript" th:src="@{/admin/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
        <script th:inline="javascript" th:src="@{/admin/vendors/chart.js/dist/Chart.bundle.min.js}"></script>
        <script th:inline="javascript" th:src="@{/admin/assets/js/dashboard.js}"></script>
        <script th:inline="javascript" th:src="@{/admin/assets/js/widgets.js}"></script>
        <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
        <script th:inline="javascript" th:src="@{/js/sweetalert.min.js}"></script>
        <script th:inline="javascript" th:src="@{/admin/assets/js/main.js}"></script>
    </th:block>
</body>
</html>